.headerContainer{
    background-color: #6D0047;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    /* z-index: 2; */
}

.headerContainer2{
    display: none;
    background-color: #6D0047;
    color: white;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    /* z-index: 2; */
}

.headerContainerinner{
    display: flex;
    align-items: center;
}

.headerContainerinner > span {
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.headerContainerinner > span:hover {
    background-color: #5d003c;
    padding: 5px 20px;
}

.HeaderAvatar{
    cursor: pointer;
    border: 2px solid #6D0047 !important;
    background-color: #6D0047 !important;
    margin: 0 20px;
}
.HeaderAvatar:hover{
    border: 2px solid #42002b;
}

.headerContainerinner > .MuiSvgIcon-root {
    padding: 5px;
    border-radius: 15px;
}

.headerContainerinner > .MuiSvgIcon-root:hover {
    background-color: #5d003c;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width:650px) {
    .headerContainer{
        display: none;
    }
    
    .headerContainer2{
        display: flex;
        padding: 5px;
    }
    .HeaderAvatar{
        height: 25px !important;
        width: 25px !important;
    }
    .headerContainerinner > span {
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
    }
}