.answerLower{
    display: flex;
    margin: 10px 0;
}
.commentMaker{
    position: sticky;
    bottom: -20px;
    padding: 10px;
    background-color: white;
}

.answerLower > div{
    display: flex;
    align-items: center;
    padding: 10px;
    color:gray
}

.answerLower > div:hover{
    color:#42002b;
}

.Selected{
    color:#42002b !important;
}

.commentContainer{
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;
}

.comment{
    background-color: #f8f8f8;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}


.comment > .MuiAvatar-root {
    margin: 10px 15px !important;
} 
.commentContainer > div > .MuiFormControl-root{
    width: 87% !important;
}
.commentContainer > div > .MuiFormControl-root > .MuiInputBase-root >.MuiOutlinedInput-input{
    padding: 10px !important;

}

.CommentButton{
    border-radius: 50% !important;
    color: #42002b !important;
    width: fit-content !important;
    margin-left: 5px !important;
}